<form action="/planets/:<%= @rock.id %>" method="POST">

  <div class="inputBox">
    <label>Title</label>
    <input type="text" name="title" placeholder="Enter a title" value="<%= @rock.title %>">
  </div>
  <div class="inputBox">
    <label>Body</label>
    <textarea name="body" rows="8" cols="80" placeholder="The body of post"><%= @rock.body %></textarea>
  </div>
  <div class="inputBox">
      <input type="submit" value="Save Post">
  </div>

  <% if (@rock.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
