<nav class="nav_sec">
  <a href="/" class="link_sec">Home</a>
  <a href="/neo_browse/0" class="link_sec">Browse NEO Data</a>
  <a href="/planets">Planets</a>
  <a href="/planets/new">New Planet</a>
</nav>
