<form action="/neo/<%= $neo['neo_reference_id'] %>" method="GET">
  <div class="inputBox">
    <label>ID</label>
    <input type="text" placeholder="Enter an ID" value="<%= $neo['neo_reference_id'] %>">
  </div>
  <div class="inputBox">
    <input type="submit" value="Show">
  </div>

  <!-- <% if ($neo['neo_reference_id']) %>
    <input type="hidden" name="_method" value="GET">
  <% end %> -->
</form>
