<form action="/neo/<%= @neo.current_neo_data_id %>" method="GET">
  <div class="inputBox">
    <label>ID</label>
    <input type="search" placeholder="Enter an ID" value="<%= @neo %>">
  </div>
  <div class="inputBox">
    <input type="submit" value="Show">
  </div>

  <% if (@neo) %>
    <input type="hidden" name="_method" value="GET">
  <% end %>
</form>
