.div_sec {
  position: absolute;
  margin: 50px 50px;
  padding: 20px 20px;
  background-color: #fafafa
}

.body_sec {
  background-image: url("deep_space_field.jpg");
}

.nav_sec {
  text-align: center;
}

.link_sec {
  padding: 20px 10px;
}

#orbt_sec {
  display: none;
  width: 70%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

.tab_col {
  padding-left: 30px;
  padding-bottom: 15px;
}
