<div class="">
  <h1>NEAR EARTH OBJECTS (NEOs)</h1>

  <h4>Introduction</h4>
  <p>Near Earth Objects (NEOs) are large masses that orbit the sun. Specifically they are come within 1.3AU (120.9 miles) of the sun during their orbit. This means that they have the potential to be influenced by the Earths gravity and have their paths deflected. Some NEOs pose a potential threat to Earth as their trajectory can intercept the Earths orbit.</p>

  <h4>How To Use This Site</h4>
  <p>This site is a straight-forward database pulled from NASA containing all discovered NEOs. At the top of the page is the navigation bar. The 'Home' link will redirect you back to this page while the 'Browse NEO Data' will redirect you to a table containing a list of NEOs by name. The list will have 20 clcikable links on it and a section at the bottom for changing pages. There are currently 896 pages of 20 NEOs so the page might take a while to load. Each NEO name is a link to its page which contains more information about various parameters.</p>

</div>
