<!-- <p><%= $neo_pull %></p> -->
<!-- <h3><%= $neo_id.get_neo_id(3542519).first %></h3> -->
<!-- <h3><%= $neo_id.get_neo_id(3542519)['name'] %></h3> -->
<h3><%= $neo_brws.brws_neo_id(@pgn)['near_earth_objects'][@id] %> %></h3>
